<div class="container center_div">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3> Report an issue </h3>
      <%= form_for :issue, url: issues_path, :html => { class: "form-horizontal" } do |f| %>
        <div class="form-group">
          <fieldset>
            <p>
              <strong> School </strong><br>
              <span class="txt-grey">Don't find your school? Click <%= link_to "here", new_school_path %> </span><br>
              <%= f.collection_select :school_id, @schools, :id, :name, {class: "form-control dropdown-menu", style: "width:200px", required: 'true'}%>
            </p>

            <p>
              <strong>Summary </strong><br>
              <%= f.text_field :summary, {:cols => "100", :rows => "2", class: "form-control", required: 'true', placeholder: "Please provide a one line summary of the issue..."} %>
            </p>

            <p>
              <strong>Description </strong><br>
              <%= f.text_area :desc, {:cols => "55", :rows => "7", class: "form-control", required: 'true', placeholder: "Please provide a description. Include date, time, people involved..."} %>
            </p>

            <p>
              <strong>Name </strong> <br>
              <span class="txt-grey" > &#42; Will not be displayed on portal, required field to report actions undertaken by the school to the reporter</span><br>
              <%= f.text_field :reporter_name, required: 'true'  %>
            </p>

            <p>
              <strong>Email </strong> <br>
              <span class="txt-grey" > &#42; Will not be displayed on portal, required field to report actions undertaken by the school to the reporter</span><br>
              <%= f.email_field :reporter_email, required: 'true' %>
            </p>

            <div class="control-group">
              <div class="controls">
                <%= f.submit "Report issue", { class: 'btn btn-primary' } %>
              </div>
            </div>

          </fieldset>
        </div>
      <% end %>
    </div>
  </div>
</div>