<div class="container center_div">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1> Report an issue </h1>
      <%= form_for :issue, url: issues_path, :html => { class: "form-horizontal" } do |f| %>
        <div class="form-group">
          <fieldset>
            <p>
              <strong> School </strong><br>
              <%= f.collection_select :school_id, @schools, :id, :name, {class: "form-control dropdown-menu", style: "width:200px"}%>
            </p>

            <p>
              <strong>Description </strong><br>
              <%= f.text_area :desc, {:cols => "55", :rows => "7", class: "form-control", placeholder: "Please provide a description. Include date, time, people involved..."} %>
            </p>

            <p>
              <strong>Name </strong> <span class="txt-grey" > Will not be displayed, required to report actions undertaken by the school</span><br>
              <%= f.text_field :reporter_name  %>
            </p>

            <p>
              <strong>Email </strong> <span class="txt-grey" > Will not be displayed, required to report actions undertaken by the school</span><br>
              <%= f.email_field :reporter_email %>
            </p>

            <div class="control-group">
              <div class="controls">
                <%= f.submit "Report issue", { class: 'btn btn-primary' } %>
              </div>
            </div>

          </fieldset>
        </div>
      <% end %>
    </div>
  </div>
</div>