<div class="container center_div">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <h3> Add school details </h3>

      <%= form_for :school, url: schools_path, :html => { class: "form-horizontal" } do |f| %>
        <div class="form-group">
          <fieldset>
            <p>
              <%= f.label :name %><br>
              <%= f.text_field :name %>
            </p>

            <p>
              <%= f.label :locality %><br>
              <%= f.text_area :locality %>
            </p>

            <div class="control-group">
              <div class="controls">
                <%= f.submit "Add school", { class: 'btn btn-primary' } %>
              </div>
            </div>

          </fieldset>
        </div>

      <% end %>
    </div>
  </div>
</div>

