<%= link_to root_path, class: 'btn btn-lg btn-primary' do %>
  <i class="glyphicon glyphicon-plus"></i> Home
<% end %>

<h1> Add school details </h1>

<%= form_for :school, url: schools_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :locality %><br>
    <%= f.text_area :locality %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

