<div class="container center_div">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <h3> Add a review </h3>

      <%= form_for :review, url: reviews_path, :html => { class: "form-horizontal" } do |f| %>
        <div class="form-group">
          <fieldset>
            <p>
              <strong>Select school</strong><br>
              <span class="txt-grey">Don't find your school? Click <%= link_to "here", new_school_path %> </span> <br>
              <%= f.collection_select :school_id, @schools, :id, :name, {class: "form-control", style:"200px"}%>  </p>
            </p>

            <p>
              <strong>Is the school located in a safe neighbourhood? </strong><br>
              <%= f.select :surroundings_good, options_for_select(%w[Yes No]), {class: "form-control"} %>
            </p>

            <p>
              <strong>Do you believe that the school has verified the background of the teachers?</strong><br>
              <%= f.select :teacher_bg, options_for_select(%w[Yes Maybe No]), class: "form-control" %>
            </p>

            <p>
              <strong>Do you believe that the school has verified the background of the support staff including school bus drivers?</strong><br>
              <%= f.select :helpers_bg, options_for_select(%w[Yes Maybe No]), class: "form-control" %>
            </p>

            <p>
              <strong>Are you happy with the security arrangements at the school?</strong> <br>
              <%= f.select :security, options_for_select(%w[Yes Maybe No]), class: "form-control"%>
            </p>

            <p>
              <strong>Do you / does your child feel safe at school? </strong><br>
              <%= f.select :safe_at_school, options_for_select(%w[Yes No]), class: "form-control"%>
            </p>

            <p>
              <strong>Is there an additional person in the bus to help children climb on / alight from the school bus ? </strong><br>
              <%= f.select :helper_in_bus, options_for_select(%w[Yes No]), class: "form-control"%>
            </p>

            <p>
              <strong>Does security help students to cross the road to go into / leave from school? </strong><br>
              <%= f.select :aid_student_crossing, options_for_select(%w[Yes No]), class: "form-control"%>
            </p>

            <p>
              <strong>Comments <br>
              <%= f.text_area :comments, {:cols => "55", :rows => "7", class: "form-control", placeholder: "Leave a comment...", required: 'true'} %>
            </p>

            <p>
              <strong>Overall rating</strong><br>
              <%= f.select :overall_rating, options_for_select(["5 (Excellent)", "4 (Very Good)", "3 (Good)", "2 (Average)", "1 (Needs to improve)"]), class: "form-control " %>
            </p>

            <div class="control-group">
              <div class="controls">
              <%= f.submit "Submit review", { class: "btn btn-primary" } %>
                </div>
            </div>
          </fieldset>
        </div>
      <% end %>


      </div>
    </div>
  </div>