<!DOCTYPE html>
<html>
<head>
  <title>SafeSchools</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <i class="glyphicon glyphicon-home"></i> Safe &#64; School
      <% end %>
    </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to new_school_path do %> Add a school <% end %></li>
          <li><%= link_to new_review_path do %> Add a review <% end %></li>
          <li><%= link_to new_issue_path do %> Report an issue/problem <% end %></li>
          <li><%= link_to issues_path do %> Issues reported <% end %></li>
          <li><%= link_to reviews_path do %> Reviews posted <% end %></li>
          <li><%= link_to suggestions_path do %> Suggestion center <% end %></li>
        </ul>
      </div>
  </div>
</nav>

<div>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: "alert alert-#{name}" %>
  <% end -%>
</div>

<%= yield %>

</body>
</html>
